.form-container {
    align-content: center;
}

.form-input {
    width: 350px;
    margin-left: 40%;
    margin-bottom: 20px;
}

.btn-signin {
    width: 150px;
    margin-left: 40%;
    margin-bottom: 80px;
      
}

.images{
    width: 350px;
    margin-left: 40%;
    margin-bottom: 20px;
    align-content: center;
      
}